<h2>Hotel Bookings</h2>

<!-- Loading -->
<p *ngIf="loading">Loading bookings...</p>

<!-- Error -->
<p *ngIf="!loading && errorMessage" style="color:red">
  {{ errorMessage }}
</p>

<table *ngIf="!loading && bookings.length > 0">
  <thead>
    <tr>
      <th>Reference</th>
      <th>Status</th>
      <th>Guest</th>
      <th>Check-in</th>
      <th>Check-out</th>
      <th>Rooms</th>
      <th>Amount</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let booking of bookings">
      <td>{{ booking.bookingReference }}</td>
      <td>{{ booking.status }}</td>
      <td>{{ booking.guestName }}</td>
      <td>{{ booking.checkInDate }}</td>
      <td>{{ booking.checkOutDate }}</td>
      <td>{{ booking.numberOfRooms }}</td>
      <td>₹{{ booking.totalAmount }}</td>
      <td>
        <button
          *ngIf="booking.status === 'BOOKED'"
          (click)="confirmBooking(booking.bookingId)">
          Confirm
        </button>

        <span
          *ngIf="booking.status === 'CONFIRMED'"
          style="color: green;">
          Confirmed
        </span>
      </td>
    </tr>
  </tbody>
</table>

<!-- Empty -->
<p *ngIf="!loading && bookings.length === 0">
  No bookings found.
</p>
