<h2>Search Hotels</h2>

<form (ngSubmit)="searchHotels()">
  <label>City</label>
  <input type="text" [(ngModel)]="city" name="city" />

  <button type="submit">Search</button>
</form>


<p *ngIf="error" style="color:red">{{ error }}</p>

<div *ngIf="hotels.length > 0">
  <h3>Available Hotels</h3>

  <div *ngFor="let hotel of hotels" style="border:1px solid #ccc; margin:10px; padding:10px">
    <h4>{{ hotel.name }}</h4>
    <p>{{ hotel.address }}</p>

    
    <button type="button" (click)="goToAvailability(hotel.id)">
  Check Availability
</button>
  </div>

 

</div>
