<nav class="navbar" [class.transparent]="isHome">
  <div class="nav-left">
    <a routerLink="/" class="brand">Citrus Cove</a>
  </div>

  <div class="nav-right">

    <ng-container *ngIf="!authService.isLoggedIn()">
  <a routerLink="/user/login" class="nav-link">Login</a>
  <a routerLink="/user/register" class="btn-primary">Register</a>
</ng-container>
    <ng-container *ngIf="authService.isLoggedIn()">
      <a *ngIf="role === 'ADMIN'" routerLink="/admin/dashboard">
        Admin Dashboard
      </a>
      <a *ngIf="role === 'MANAGER'" routerLink="/manager">
        Manager Dashboard
      </a>
      <a *ngIf="role === 'RECEPTIONIST'" routerLink="/receptionist">
        Receptionist Dashboard
      </a>
      <a *ngIf="role === 'GUEST'" routerLink="/user/bookings">
        My Bookings
      </a>
      <button class="btn-logout" (click)="logout()">Logout</button>
    </ng-container>
  </div>
</nav>
